{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camview</title>
    <link href="{%static 'camweb/static/index.css'%}" rel="stylesheet">
</head>

<body class={{"body"|add:mode}}>
    <h1 onclick="toggleweb()">CamView</h1>
    <!-- <button id='toggle' onclick="toggleweb()">Theme switcher</button> -->
    <div id="abc">
    <form id ='form' onsubmit=form() class="forml" autocomplete="off" autosubmit="false" method="post">
        {% csrf_token %}
        <input name="code" id="code" type="hidden"/>
        <input type="text" id="d1" maxlength="1" onkeyup= "movecurs(this,'1')" placeholder="0" class={{"input"|add:mode}} onfocus="setcurs('0')"/>
	    <input type="text" id="d2" maxlength="1" onkeyup= "movecurs(this,'2')" placeholder="0" class={{"input"|add:mode}} onfocus="setcurs('1')"/>
	    <input type="text" id="d3" maxlength="1" onkeyup= "movecurs(this,'3')" placeholder="0" class={{"input"|add:mode}} onfocus="setcurs('2')"/>
	    <span class={{"splitter"|add:mode}}>&ndash;</span>
	    <input type="text" id="d4" maxlength="1" onkeyup= "movecurs(this,'4')" placeholder="0" class={{"input"|add:mode}} onfocus="setcurs('3')"/>
	    <input type="text" id="d5" maxlength="1" onkeyup= "movecurs(this,'5')" placeholder="0" class={{"input"|add:mode}} onfocus="setcurs('4')"/>
	    <input type="text" id="d6" maxlength="1" onkeyup= "movecurs(this,'6')" placeholder="0" class={{"input"|add:mode}} onfocus="setcurs('5')"/>
        <button class={{"button"|add:mode}} onclick="submitform()">Submit</button>
    </form>
    </div>
    {%if valid%}
    <div id="img" class="img" onclick=imgchange() >
    <img id="img1" class="img1" src="/video" >
    </div>
    {% endif %}
</body>
<script src="{%static 'camweb/static/index.js'%}">
</script>
</html>